@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #2254C5;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2); 
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

#todo-form {
    display: flex;
    margin-bottom: 20px;
}

#todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    font-weight: 700;
    background-color: #ffff;
    color: #2254C5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2254C5;
    border: 1px solid rgb(255, 255, 255);
    color: #ffffff;

}

#todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    gap: 3px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-item span {
    flex: 1;
    margin-right: 10px;
    color: #fff;
}

.todo-item button {
    background-color: #ffffff;
    border: none;
    color: #2254C5;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px; 
}



.todo-item button:hover {
    background-color: #2254C5;
    border: 1px solid rgb(255, 255, 255);
    color: #ffffff;
}